$primaryMain: #3C3C3C;
$primaryShadeOne: #333333;
$primaryShadeTwo: #252526;
$primaryShadeThree: #1E1E1E;
$gray: #A7A7A7;
$grayTwo: #A5A5A5;
$secondaryMain: #007ACC;
$success: #16825D;
$light: #fff;
$code: #5DD8EE;