$dark: #1c1c1c;
$darkShadeOne: #3C3C3C;
$darkShadeTwo: #333333;
$darkShadeThree: #252526;
$darkShadeFour: #1E1E1E;
$darkShadeFive: #1c2026;
$darkShadeSix: #010409;
$darkShadeSeven: #1a1f28;
$darkShadeEight: #16191f;
$darkShadeNine: #0a0d12;
$gray: #A7A7A7;
$grayTwo: #A5A5A5;
$grayThree: #f3f2ef;
$secondaryMain: #007ACC;
$success: #16825D;
$danger: #985660;
$info: #ca9f47;
$light: #fff;
$code: #5DD8EE;
$link: #0070FF;
