@import 'assets/scss/variables.scss';

.wrapper {
    position: relative;
    font-family: $primaryFont;
    & .dropdown {
        position: absolute;
        top: 0;
        right: 0;
        height: 2.4rem;
        & svg {
            height: 1rem;
            width: 1rem;
        }
    }
}