@import 'assets/scss/variables.scss';

.social-media {
    list-style: none;
    & li {
        padding: 1rem 1.5rem;
        margin: -1rem 0;
        border-right: 1px solid rgba($gray, 0.25);
        cursor: pointer;
        & svg {
            height: 1.5rem;
            width: 1.5rem;
            fill: $light;
        }
        &:hover {
            & svg {
                fill: $link;
            }
        }
        @include md {
            padding: 1.25rem 1rem;
            border: 0;
            & svg {
                opacity: 0.75;
                height: 1.25rem;
                width: 1.25rem;
            }
        }
    }
}