@import 'assets/scss/variables.scss';

.wrapper {
    background-color: $darkShadeEight;
    padding: 1.15rem 1.5rem 1.5rem;
    text-align: center;
    font-family: $secondaryFont;
    color: rgba($light, 0.5);
    position: relative;
    max-width: 40rem;
    border-radius: 10px;
    border: 1px solid rgba($gray, 0.25);
    margin: auto;
    @include xxl {
        padding: 1rem;
    }
    @include xl {
        margin: 0;
        max-width: unset;
    }
    & header {
        padding: 0.25rem 0 1.25rem;
        & p {
            &:first-child {
                color: $info;
            }
        }
    }
    & footer {
        padding-top: 1rem;
    }
    & .coding-area {
        background-color: $darkShadeNine;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: inset 9px 4px 20px 5px rgba($darkShadeSix, 0.75);
        text-align: left;
        @include xxl {
            padding: 1rem;
        }
        & .commented-code {
            margin-bottom: 1rem;
            font-size: 89%;
            @include xl {
                font-size: 100%;
            }
        }
        & a {
            color: $link;
            padding-bottom: 0.5rem;
            cursor: pointer;
            &:hover {
                opacity: 0.75;
            }
        }
    }
}