@import 'assets/scss/variables.scss';

.wrapper {
    background-color: $darkShadeEight;
    padding: 1.15rem 1.5rem 1.5rem;
    text-align: center;
    font-family: $secondaryFont;
    color: rgba($light, 0.5);
    position: relative;
    max-width: 37.5rem;
    border-radius: 10px;
    border: 1px solid rgba($gray, 0.25);
    margin: auto;
    @include xxl {
        padding: 1rem;
    }
    @include xl {
        margin: 0;
        max-width: unset;
    }
    & header {
        padding: 0.25rem 0 1.25rem;
        & p {
            &:first-child {
                color: $info;
            }
        }
    }
    & .coding-area {
        background-color: $darkShadeNine;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: inset 9px 4px 20px 5px rgba($darkShadeSix, 0.75);
        text-align: left;
        @include xxl {
            padding: 1rem;
        }
        & .commented-code {
            margin-bottom: 1rem;
            @include xxl {
                font-size: 89%;
            }
            @include xl {
                font-size: 100%;
            }
            & span {
                border-left: 1px solid rgba(167, 167, 167, 0.25);
                padding-left: 1rem;
                display: inline-block;
                margin-left: 1rem;
                line-height: 1.75;
                @include xxl {
                    margin-left: 0.55rem;
                }
            }
        }
        & a {
            color: $info;
            padding-bottom: 0.5rem;
        }
    }
}