@import 'assets/scss/variables.scss';

.wrapper {
    background-color: $secondaryMain;
    height: 2.5rem;
    & .inner {
        padding-right: 8rem;
    }
    & .side-separate {
        width: 7rem;
        background-color: $success;
    }
}