@import 'assets/scss/variables.scss';

.wrapper {
    text-align: center;
    font-family: $secondaryFont;
    $textPrimary: $textMedium;
    height: 100%;
    & .tabs {
        background-color: $darkShadeSix;
        display: flex;
        list-style: none;
        border-bottom: 1rem solid $darkShadeFive;
        box-shadow: 0px 10px 20px 20px rgba($darkShadeSix, 0.25);
        border-top: 1px solid rgba($gray, 0.25);
        @include lg {
            width: 100%;
         }
        @include md {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 10;
            font-family: $primaryFont;
        }
        & li {
            padding: 0.75rem 3.5rem;
            border-top: 0.25rem solid transparent;
            margin-top: -1px;
            border-bottom: 1px solid rgba($gray, 0.25);
            border-left: 1px solid rgba($gray, 0.25);
            min-width: fit-content;
            color: rgba($light, 0.5);
            cursor: pointer;
            font-size: calc($textModerate - 1px);
            @include lg {
                padding: 0.75rem 1.5rem;
                width: 100%;
            }
            @include md {
                width: 100%;
                padding: 1.75rem 0;
                font-size: $textSmall;
                text-transform: capitalize;
                & span {
                    display: none;
                }
            }
            @include sm {
                padding: 0.75rem 0 0.5rem;
                font-size: 100%;
            }
            &.active {
                background-color: $darkShadeFive;
                border-color: $danger;
                border-bottom-color: transparent;
                border-left-color: transparent;
                color: $info;
                & svg * {
                    fill: $info;
                }
            }
            &.hide-in-mobile {
                @include md {
                    display: none;
                }
            }
            &:last-child {
                width: 100%;
                color: transparent;
                pointer-events: none;
                &:hover {
                    color: transparent;
                }
                @include lg {
                    display: none;
                }
            }
            &:hover {
                color: $info;
            }
            & svg {
                display: none;
                fill: rgba($light, 0.5);
                @include md {
                    display: block;
                    margin: auto;
                    height: 2rem;
                    width: 2rem;
                    margin-bottom: 0.75rem;
                }
                @include sm {
                    height: 1.5rem;
                }
                & * {
                    fill: rgba($light, 0.5);
                }
            }
        }
    }
    & .container {
        padding: 0 8rem;
        height: calc(100% - 0.75rem);
        text-align: left;
        @include xxl {
            padding: 0 4rem;
            height: calc(100% - 4.35rem);
        }
        @include xl {
            overflow: auto;
            height: calc(100vh - 10rem);
        }
        @include md {
            padding: 0 2rem;
        }
    }
}