@import 'assets/scss/variables.scss';

.wrapper {
    background-color: $primaryShadeTwo;
    padding-top: 3.5rem;
    max-height: calc(100% - 3.5rem);
    & .introduction {
        & .logo {
            margin-bottom: 3.5rem;
        }
    }
}